* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace
    }
    
    .header {
        height: 65px;
    }
    
    .float-left {
        display: inline;
        float: left;
        padding: 25px;
        font-size: 18px;
    }
    
    .float-right {
        display: inline;
        float: right;
        padding: 25px;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    #heading {
        font-size: 36px;
    }
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px;
    }

    #start-button {
       font-size: 18px;
       padding: 10px;
       display: '';
    }

    .card {
        text-align: center;
        justify-content: center;
    }

    #quiz {
        display: none;
        font-size: 24px;
        font-weight: bold;
    }

    .choice {
        display: none;
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px;
        width: 200px;
        font-size: 18px;
    }

    #wrong {
        display: none;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    #right {
        display: none;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    #next {
        margin: auto;
        margin-top: 20px;
        display: block;
        padding: 10px;
        font-size: 18px;
    }

    #highScores {
        display: none;
        text-align: center;
        margin: auto;
    }

    #yourScore {
        font-size: 36px;
    }

    #player {
        width: 350px;
        height: 50px;
        font-size: 24px;
    }

    #initials {
        margin: 25px;
        padding: 10px;
        font-size: 18px;
    }

/* High Scores stying below */

.wrapper {
    align-items: center;
    text-align: center;
    padding: 50px;
}

#noScore {
    text-align: center;
    font-size: 36px;
}

#populateScores {
    list-style: none;
    margin-left: -40px;
}

#populateScores li {
    margin-bottom: 10px;
    font-size: 24px;
}

#back {
    margin: 15px;
    padding: 10px;
    width: 210px;
    font-size: 18px;
    font-weight: bold;
}

#clearScores {
    margin: 15px;
    padding: 10px;
    width: 210px;
    font-size: 18px;
    font-weight: bold;
}

